
body {
  background-color: #7579e7;
}

#input-tag {
  font-weight: 600;
}

#home-root {
  width: 100%;
  height: 100vh;
  display: flex;
}

#home-input-wrapper {
  margin: auto auto;
}

#home-form {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  width: 400px;
}

#join-rooms li {
  text-align: center;
  list-style-type: none;
  padding: 10px 10px;
}

#join-rooms li:hover {
  opacity: .7;
  cursor: pointer;
}

#join-rooms {
  border-radius: 3px;
  margin: 20px auto;
  background-color: white;
  width: 400px;
}
